@model Diary.Models.Post


<div class="card w-75 h-100" style="margin:auto; min-height:80%">
    <div class="card-body row m-0 p-0">
        <div class="col-lg-10">
            <h2 class="card-title" style="font-family: 'Raleway', sans-serif; font-size: 3em">@Model.Title</h2>
            <hr />
            <div style="font-family: 'Dancing Script', cursive; font-size:2em">
                <p class="card-text">@Html.Raw(Model.Body)</p>
            </div>
        </div>
        <div class="col-lg-2 m-0">
            <div class="row  m-0 px-0" style="font-family: 'Raleway';font-size: 3rem; color:grey">
                <span id="date day">@Model.Date.Day</span>
                <span id="date month">@Model.Date.ToString("MMMM")</span>
            </div>
            <div class="row w-100 bg-warning" style="position:absolute; bottom:0px; height: 150px; border-radius:5px">
                <a class="card-link stretched-link" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" style="color:white;width:100%; text-align:center; margin-top: 55px">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

